.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #666666;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.headline {
  color: white;
}

.headline > td{
  padding: 2vh;
  font-size: 1.2em;
}

.homeLink {
  text-align: left;
  text-decoration: none;
  color: white;
}
.homeLink:hover {
  color: #666666;
}

.headerLink{
  text-align: right;
  text-decoration: none;
  color: white;
}

.headerLink:hover{
  color: #666666;
}

ul{
  width: inherit;
  height: inherit;
  list-style: none;
  margin-top: 35px;
}

ul li{
  display: inline-block;
  padding-left: 20px;
}

ul li:last-child{
  padding-right: 10px;
}
